<table ng-if="controller.hasElements()">
    <thead>
        <td>Name</td>
        <td>Short Name</td>
        <td>Description</td>
        <td>Action</td>
    </thead>
    <tbody>
        <tr ng-repeat="item in controller.items">
            <td>{{item.name}}</td>
            <td>{{item.short_name}}</td>
            <td>{{item.description}}</td>
            <td>
                <button class="btn btn-primary" ng-click="controller.onRemove({index:$index})">Do not want this one</button>
            </td>
        </tr>
    </tbody>
</table>
<div ng-if="!controller.hasElements()">Nothing found</div>
